<div class="container" id="cont-port"></div>
<!-- Would have been better to use a database for this part than manually add everything -->
<div class="port">
	<div class="images">
		<div class="img-row">
            <div class="container">
                <h3>Codecademy portafolio</h3>
                <%= link_to '<li>El repositorio se encuentra en github</li>'.html_safe, 'https://github.com/boghus/codecademy-portafolio' %>
                <%= link_to '<li>Portafolio desarrollado en el curso de <strong>codecademy</strong></li>'.html_safe, 'https://www.codecademy.com/enrolled/courses/learn-rails' %>
            </div>
		</div>
	</div>
	
</div>