<div class="container" id="welcome">
	<div class="main">
		<div class="main-text">
            <h2> Soy Carlos Berdejo </h2>
            <h3>Desarrollador de Software basado en web &#x1F4BB;</h3>
        </div>
	</div>

</div>