<div class="container" id="contact-cont">
	
	<div class="contact-link">
		<h2>Buscame en:</h2>
		</br>
		</br>
		</br>
		</br>
		</br>

		<div class="contact-row">
			<%= link_to image_tag('linkedin.svg'), 'https://www.linkedin.com/in/carlos-berdejo-migranas-7b5737233/'%>
			<%= link_to image_tag('github.svg'), 'https://github.com/boghus'%>
		</div>
	</div>

</div>